<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ProgettoIS</display-name>
  <servlet>
    <servlet-name>RegistrazioneControl</servlet-name>
    <servlet-class>control.RegistrazioneControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>control.LoginControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewProfileControl</servlet-name>
    <servlet-class>control.ViewProfileControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailsAziendaControl</servlet-name>
    <servlet-class>control.DetailsAziendaControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsAziendaControl</servlet-name>
    <url-pattern>/detailsAz</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>fsroot</param-name>
    <param-value>C:\TirocinioSmartFiles</param-value>
</context-param>
  
</web-app>