html, body { height: 100%; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -30px; }
#bottom, #push { height:30px;}

table {
	
	border: 1px solid white;
	width: 100%;
    table-layout: fixed;
}

th, td {
	
	text-align: left;
	padding: 8px;
	border: 1px solid white;
}

tr:nth-child(even) {
	background-color: #111e6b;
}