#form {
	width: 95%;
	margin: auto; background : #111e6b;
	padding: 25px;
	overflow: hidden;
	border-radius: 20px;
	background: #002561;
}

label, input, textarea {
	color: #ffffff;
	font-family: Verdana, sans-serif;
	margin: 10px;
}

input, textarea {
	width: 75%;
	background: white;
	border: 1px solid white;
	color: #000000;
}

textarea {
	resize: none;
}

input {
	padding-left: 2px;
}

#submit {
	margin-top: 1em;
	width: 25%;
	
}

#line { 
    border-color: white;
}

.input2{
	width: 40%;
}

.input3{
	width: 5em;
}